<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.name }}</title>
    <! Use una base que saque de bootstrap en web para STYLE y la logica la saque de los otros laboratorios>
    
    <style>
        body { background-color: #000000; color: #ffffff; font-family: Arial, sans-serif; margin: 0; padding: 20px; }
        h1 { margin: 0; font-size: 32px; color: #ffffff; }
        .content { max-width: 800px; margin: 0 auto; }
        .content h2 { font-size: 36px; margin-bottom: 20px; }
        .content p { font-size: 18px; margin: 10px 0; line-height: 1.6; }
        .centrar-texto {text-align: center;}
    </style>
</head>
<body>
    <a href="/" class="back-link"> Volver al catálogo</a>
    
    <div class="header">
        
        
        <h1 class="centrar-texto">Encabezado de la Aplicación</h1>

       
        
    </div>

    <div class="content">
        <h2>{{ movie.name }}</h2>
        <p><strong>Año de publicación:</strong> {{ movie.publication_date.year }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Género:</strong> {{ movie.get_genre_display }}</p>
        <p><strong>Sinopsis:</strong> {{ movie.synopsis }}</p>
    </div>
</body>
</html>